@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

h1 {
  font-size: 2em;
  transition: all 0.3s;
  color: blue;
  display: grid;
  user-select: none;
  appearance: none;
  background-image: url("~@img/noimg.jpg");

  &:hover {
    transform: translateX(50px);
    color: red;
  }
}
